.Navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size:larger;
  color: azure;
  background-color: #CF7F35;
  height: 40px;
}
